.TextFieldMenu {
    -fx-background-color: transparent;
    -fx-border-color: derive(fuchsia, 90%);
    -fx-text-fill: white;
    -fx-border-color: radial-gradient(radius 100% , deeppink , white);
}

.TextFieldMenu .text{
    -fx-fill : white;
}

.btnBack{
    -fx-background-color: transparent;
    -fx-pref-width: 150;
    -fx-stroke: rgba(255, 255, 255, 0.75);
    -fx-background-insets: 30;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.75),30,0,0,0);
    -fx-text-fill: white;

}

